{% load humanize %}

<div><h1>Welcome, {{ user.username }}!</h1></div>

<div>
  <h2>Nintendo</h2>
  <form action="/accounts/nintendo_session/" method="post">
    {% csrf_token %}
    {{ nintendo_session_form }}
    <input type="submit" value="Save">
  </form>
  <a href="{% url "new_nintendo_session" %}">Get new Nintendo token</a>
</div>

<div>
  <h2>Splatnet</h2>
  {% if splatnet_session %}
    <dl>
      <dt>Web service token</dt>
      <dd><input value="{{ splatnet_session.web_service_token }}" readonly></dd>
      <dt>Bullet token</dt>
      <dd><input value="{{ splatnet_session.bullet_token }}" readonly></dd>
      <dt>Updated at</dt>
      <dd>{{ splatnet_session.updated_at }} ({{ splatnet_session.updated_at|naturaltime }})</dd>
    </dl>
  {% endif %}
</div>
