{% extends "app/base.html" %}
{% load static %}

{% block content %}
  <div class="pb-4">
    <header class="mb-4">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold leading-tight tracking-tight text-gray-800">Shift detail</h1>
      </div>
    </header>
    <main>
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        {% if loading %}
          <div>Loading...</div>
        {% else %}
          <div class="flex flex-col gap-y-4">
            <dl>
              <dt>Hazard level</dt>
              <dd>{{ detail.hazard_level_formatted }}</dd>
              <dt>Pay grade</dt>
              <dd>{{ detail.grade }} {{ detail.grade_points }}</dd>
            </dl>
            <div class="flex gap-x-2 flex-nowrap overflow-x-auto">
              {% for wave in detail.waves %}
                <div class="border-2 border-gray-200 rounded-md p-2 w-24 flex-none">
                  <div class="flex flex-col justify-between">
                    <div>Wave {{ wave.waveNumber }}</div>
                    <div>{% if wave.deliverNorm %}{{ wave.teamDeliverCount }}/{{ wave.deliverNorm }}{% else %}
                      {{ detail.king_salmonid }}{% endif %}</div>
                    <div>{% if wave.waterLevel == 0 %}Low tide{% elif wave.waterLevel == 1 %}Normal{% else %}High
                      tide{% endif %}</div>
                    <div>{{ wave.eventWave.name|default:"-" }}</div>
                    <div><img src="{% static "golden_egg.png" %}" class="w-8 h-8 inline">x {{ wave.goldenPopCount }}
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
            <div>
              <h2>Players</h2>
            </div>
            <div>
              <h2>Bosses</h2>
            </div>
          </div>
        {% endif %}
      </div>
    </main>
  </div>
{% endblock %}
