{% extends "app/base.html" %}

{% block content %}
  <div class="py-10 grid gap-y-4">
    <header>
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold leading-tight tracking-tight text-gray-900">Shifts</h1>
      </div>
    </header>
    <main>
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="grid gap-y-4">
          <form action="{% url "salmon_run_sync" %}" method="post">
            {% csrf_token %}
            <button type="submit"
                    class="px-2 py-1 bg-blue-600 border-2 border-blue-600 rounded-md text-white">
              Refresh
            </button>
          </form>
          <ol class="grid gap-y-2">
            {% for summary in summaries %}
              <li>
                <a href="{% url "shifts_show" summary.shift_id %}">
                  <div class="px-4 py-2 border-2 border-gray-200 rounded-md h-16 grid relative">
                    <div class="flex justify-between">
                      <div>{{ summary.grade }} {{ summary.grade_points }}</div>
                      <div>
                        {% if summary.detail %}
                          {% if summary.detail.rescued_count_individual == 0 %}<span title="No deaths">🏅</span>
                          {% endif %}
                          {% if summary.detail.contributed_most_golden_eggs %}
                            <span title="Most golden eggs contributed">🏆</span>{% endif %}
                          {% if summary.detail.defeated_most_bosses %}<span title="Most bosses defeated">🎖</span>
                          {% endif %}
                        {% endif %}
                      </div>
                    </div>
                    {% if summary.detail %}
                      <div class="absolute h-full border-r-2 border-gray-400 grid justify-end items-end pr-2 -z-10"
                           style="width: {% widthratio summary.detail.hazard_level highest_hazard_level 100 %}%">
                        <span class="text-gray-600">{{ summary.detail.hazard_level|floatformat:0 }}%</span>
                      </div>
                    {% endif %}
                    {% if summary.grade == "Eggsecutive VP" and highest_grade_points > 100 %}
                      <div class="absolute h-full bg-gray-200 -z-20"
                           style="width: {% widthratio summary.grade_points highest_grade_points 100 %}%"></div>
                    {% else %}
                      <div class="absolute h-full bg-gray-200 -z-20"
                           style="width: {% widthratio summary.grade_points 100 100 %}%"></div>
                    {% endif %}
                  </div>
                </a>
              </li>
            {% endfor %}
          </ol>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
